$primary: $blue;

// $info: $cyan !default
$success: $green;
$warning: $yellow;
$danger: $red;

// $light: $white-ter !default
// $dark: $grey-darker !default

// // Invert colors
$orange-invert: findColorInvert($orange);
$yellow-invert: findColorInvert($yellow);
$green-invert: findColorInvert($green);
// $turquoise-invert: findColorInvert($turquoise);
// $cyan-invert: findColorInvert($cyan);
$blue-invert: findColorInvert($blue);
// $purple-invert: findColorInvert($purple) !default
$red-invert: findColorInvert($red);

$primary-invert: findColorInvert($primary);
// $info-invert: $cyan-invert;
$success-invert: $green-invert;
$warning-invert: $yellow-invert;
$danger-invert: $red-invert;
$light-invert: findColorInvert($light);
$dark-invert: findColorInvert($dark);

// // General colors
// $background: $white-ter !default

// $border: $grey-lighter !default
// $border-hover: $grey-light !default

// // Text colors
$text: $black;
// $text-invert: findColorInvert($text) !default
// $text-light: $grey !default
$text-strong: $black;

// // Code colors
$code: $red;
// $code-background: $background !default

// $pre: $text !default
// $pre-background: $background !default

// // Link colors
$link: $primary;

$link-light: findLightColor($link);
$link-invert: findColorInvert($link);
// $link-visited: $purple !default

// $link-hover: $grey-darker !default
// $link-hover-border: $grey-light !default

// $link-focus: $grey-darker !default
$link-focus-border: $primary;

// $link-active: $grey-darker !default
// $link-active-border: $grey-dark !default

// // Typography
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
// $family-code: $family-monospace !default

// $size-small: $size-7 !default
// $size-normal: $size-6 !default
// $size-medium: $size-5 !default
// $size-large: $size-4 !default

// // Lists and maps
// $custom-colors: null !default
// $custom-shades: null !default

$colors: mergeColorMaps(
  (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "link": ($link, $link-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
  ),
  $custom-colors
);
// $shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades) !default

// $sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default
