// // Colors
// $black:        hsl(0, 0%, 4%) !default
// $black-bis:    hsl(0, 0%, 7%) !default
// $black-ter:    hsl(0, 0%, 14%) !default

// $grey-darker:  hsl(0, 0%, 21%) !default
// $grey-dark:    hsl(0, 0%, 29%) !default
// $grey:         hsl(0, 0%, 48%) !default
// $grey-light:   hsl(0, 0%, 71%) !default
// $grey-lighter: hsl(0, 0%, 86%) !default

// $white-ter:    hsl(0, 0%, 96%) !default
// $white-bis:    hsl(0, 0%, 98%) !default
// $white:        hsl(0, 0%, 100%) !default

$deep-orange:  hsl(15, 90%, 60%);
$orange:       hsl(15, 90%, 60%);
$yellow:       hsl(54, 90%, 62%);
$green:        hsl(79, 56%, 56%);
$dark-green:   hsl(143, 47%, 44%);
// $turquoise:    hsl(171, 100%, 41%) !default
// $cyan:         hsl(204, 86%,  53%) !default
$teal:         hsl(185, 100%, 33%);
$light-blue:   hsl(199, 63%, 48%);
$blue:         hsl(219, 57%, 50%);
$deep-purple:  hsl(261, 45%, 50%);
$purple:       hsl(289, 48%, 45%);
$red:          hsl(0, 85%, 61%);
$pink:         hsl(353, 83%, 63%);

// // Typography
$family-sans-serif: work-sans, sans-serif;
// $family-monospace: monospace !default
// $render-mode: optimizeLegibility !default

// $size-1: 3rem !default
// $size-2: 2.5rem !default
// $size-3: 2rem !default
// $size-4: 1.5rem !default
// $size-5: 1.25rem !default
// $size-6: 1rem !default
// $size-7: 0.75rem !default

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// // Spacing
// $block-spacing: 1.5rem !default

// // Responsiveness
// // The container horizontal gap, which acts as the offset for breakpoints
// $gap: 32px !default
// // 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// $tablet: 769px !default
// // 960px container + 4rem
// $desktop: 960px + (2 * $gap) !default
// // 1152px container + 4rem
// $widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: false;
// // 1344px container + 4rem
// $fullhd: 1344px + (2 * $gap) !default
$fullhd-enabled: false;

// // Miscellaneous
// $easing: ease-out !default
// $radius-small: 2px !default
// $radius: 4px !default
// $radius-large: 6px !default
// $radius-rounded: 290486px !default
// $speed: 86ms !default

// // Flags
// $variable-columns: true !default
