<template>
  <svg
    class="SweetHymnsLogo"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 8.467 8.467"
  >
    <g fill="none">
      <path
        fill="#fff"
        fill-rule="evenodd"
        d="M1.8 0C.801 0 0 .802 0 1.8v4.868c0 .996.802 1.799 1.8 1.799h4.867c.997 0 1.8-.803 1.8-1.8V1.8C8.467.802 7.664 0 6.667 0zm.317 1.588H6.35a.528.528 0 110 1.058H2.117a.528.528 0 110-1.058zm0 2.116H6.35a.528.528 0 110 1.059H2.117a.528.528 0 110-1.059zm0 2.117h2.646a.528.528 0 110 1.058H2.117a.528.528 0 110-1.058z"
      />
    </g>
  </svg>
</template>
<style>
.SweetHymnsLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
