$title-color: $black-ter;
// $title-family: false !default
$title-size: $size-1;
$title-weight: $weight-bold;
// $title-line-height: 1.125 !default
// $title-strong-color: inherit !default
// $title-strong-weight: inherit !default
// $title-sub-size: 0.75em !default
// $title-sup-size: 0.75em !default

$subtitle-color: $grey;
// $subtitle-family: false !default
$subtitle-size: $size-4;
// $subtitle-weight: $weight-normal !default
// $subtitle-line-height: 1.25 !default
// $subtitle-strong-color: $grey-darker !default
// $subtitle-strong-weight: $weight-semibold !default
$subtitle-negative-margin: -0.75rem;
